
<link rel="stylesheet" href="/stylesheets/homepage.css">
<div class="container">
    <h1 contenteditable>JIS</h1>
    <p>judiciary information system</p>
  </div>

  <div class="flex-container">
    <div class="container1">
        <a href="/judgesignin" >Judge</a>
    </div>
    <div class="container1">
        <a href="/lawyersignin" >lawyer</a>
    </div>
    <div class="container1">
        <a href="/registrarsignin">registrar</a>
    </div>
</div>
