<link rel="stylesheet" href="/stylesheets/signin.css">


<form action="/lawyersignin" method="POST">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> lawyer Sign In </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf0__MI6teFQX0bP0DyOize4tz4j32r1JDCQ&usqp=CAU" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="/">not lawyer?</a>
      </div>
  
    </div>
  </div>
</form>