<link rel="stylesheet" href="/stylesheets/signin.css">


<form action="/signin" method="POST">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Registrar Sign In </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp7yL8Iu1LRbhRdDyRYibYgAYL2osZaC6OBA&usqp=CAU" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="/judgesignin">not registrar?</a>
      </div>
  
    </div>
  </div>
</form>